.banner {
	background: url(../img/dog.jpg) no-repeat;
	width: 493px;
	height: 220px;
}

.callout {
	background: black;
	height: 220px;
}

header {
	overflow: hidden;
}
header h1 {
	background: url() no-repeat;
	text-align: -9999px;
	width: 20px;
	height: 20px;
	float: left;
}

nav li {
	display: inline;
	float: right;
}

